---
const RECAPTCHA_SITE_KEY = import.meta.env.VITE_GOOGLE_RECAPTCHA_SITE_KEY;
---

<div class="flex justify-center mb-6">
  <div class="g-recaptcha" data-sitekey={RECAPTCHA_SITE_KEY}></div>
</div>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
