---
import HeaderPage from '../components/Header.jsx';
import Footer from '../components/Footer.jsx';
import TermAndConditionsPage from '../components/legal/TermsAndConditions';

import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="../images/key-kings-logo.jpeg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <title>Terms and Conditions | Key Kings Locksmith</title>
  </head>
  <body class="font-poppins">
    <HeaderPage client:load />
    
    <main class="pt-20">
      <TermAndConditionsPage client:load />
    </main>

    <Footer client:load />

  </body>
</html>
